<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>
        {% block title %}
        Auth
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='auth.css') }}">

</head>

<body class="auth-body">

    <div class="auth-container">

        {% block content %}
        {% endblock %}

    </div>

    <script>

    setTimeout(() => {

        const flash = document.querySelector(".flash-message");

        if(flash){
            flash.style.opacity = "0";
            flash.style.transform = "translateY(-10px)";
            setTimeout(() => {
                flash.remove();
            },300);
        }
    },3000);

    </script>

    <script>

    const loginForm = document.querySelector("form");

    if(loginForm){
        loginForm.addEventListener("submit", () => {
            const loader =
                document.getElementById("loaderScreen");
            if(loader){
                loader.style.display = "flex";
                setTimeout(() => {
                    loader.style.display = "none";
                },2000);
            }
        });
    }
    </script>

</body>
</html>